* {
    margin: 0px;
    padding: 0px;
}

.fundo {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    height: 100vh;
    background-image: linear-gradient(100deg, purple, blue, black);
}

.calculadora {
    position: absolute;
    background-color: rgba(0, 0 ,0, 0.8);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    padding: 15px 10px;
    text-align: center;
}

button {
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(37, 37, 37);
    border: none;
    color: rgb(255, 255, 255);
    margin: 3px;
    border-radius: 3px;
}

button:hover {
    background-color: black;
    transition: 0.2s;
}

#botao-igual{
    height: 106px;
    background-color: purple;
}

#botao-igual:hover{
    background-color: rgb(102, 0, 102);
}

#botao-zero {
    width: 106px;
}

.ButtonAction{
    background-color: rgb(24, 23, 23);
}

#resultado {
    background-color: rgb(37, 37, 37);
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-align: right;
    border-radius: 3px;
    padding: 5px;
}
